/*Project Name: Racer Game
Author: Alex Li
Developer @GA in DENVER */


ul {
     padding: 10px;
     background: rgba(0,0,0,0.5);
}

li {
   display: inline;
   padding: 0px 10px 0px 10px;
   font-size: 25px;
   color: white;
}

header {
   text-align: center;
   color: black;
   height: 500px;
}
